<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="max-width auth-form py-5"> 
        <form class="m-auto" action="/auth/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" aria-describedby="emailForUser" value="<%= input_fields.email %>">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordForUser" value="<%= input_fields.password %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
            <button type="submit" class="btn btn-primary w-100 my-3">Login</button>
            <% if(error_msg[0]) { %>
              <p class="text-danger"><%= error_msg %></p>
            <% } %>
            <p>Forget password? <a href="/auth/reset">Reset here</a></p>
            <p>Don't have an account? <a href="/auth/signup">Sign up</a></p>
          </form>
    </main>
<%- include('../includes/end.ejs') %>