<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="max-width auth-form py-5"> 
        <form class="m-auto" action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameForUser">
          </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" aria-describedby="emailForUser" >
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordForUser">
            </div>
            <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" aria-describedby="confirmpasswordForUser">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
            <button type="submit" class="btn btn-primary w-100 my-3">Sign up</button>
            <% if(error_msg) { %>
              <p class="text-danger"><%= error_msg %></p>
            <% } %>
            <p>Already have an account? <a href="/auth/login">Login</a></p>
        </form>
    </main>
<%- include('../includes/end.ejs') %>