<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="max-width auth-form py-5"> 
        <form class="m-auto" action="/auth/reset/new-password" method="POST">
            <div class="mb-3">
              <label for="newpassword" class="form-label">New password</label>
              <input type="password" class="form-control" id="newpassword" name="newpassword" aria-describedby="newpasswordForUser">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
            <input type="hidden" name="user_id" value="<%= user_id %>" />
            <input type="hidden" name="token" value="<%= token %>" />
            <button type="submit" class="btn btn-primary w-100 my-3">Reset password</button>
            <% if(error_msg[0]) { %>
              <p class="text-danger"><%= error_msg %></p>
            <% } %>
          </form>
    </main>
<%- include('../includes/end.ejs') %>