<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="max-width">
      <!-- MYSQL -->
        <!-- <form class="m-auto" action="/admin/edit-product/<%= product.id %>" method="POST"> -->
          <form class="m-auto" action="/admin/edit-product/<%= product._id %>" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleForNewProduct" value="<%= product.title %>">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" aria-describedby="descriptionForNewProduct" value="<%= product.description %>">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" id="price" name="price" aria-describedby="priceForNewProduct" value="<%= product.price %>">
            </div>
            <div class="mb-3">
              <label for="image_url" class="form-label">Image</label>
              <input type="text" class="form-control" id="image_url" name="image_url" aria-describedby="imageForNewProduct" value="<%= product.image_url %>">
            </div>
            <!-- MYSQL -->
            <!-- <input type="hidden" name="id" value="<%= product.id %>"/> -->
            <input type="hidden" name="id" value="<%= product._id %>"/>
            <input type="hidden" name="user_id" value="<%= product.user_id %>"/>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
            <button type="submit" class="btn btn-primary w-100">Edit</button>
          </form>
    </main>
<%- include('../includes/end.ejs') %>