<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="container max-width products-container">
                <% for (let product of prods) { %>
                    <div class="card mt-5" style="width: 18rem;">
                        <img src=<%= product.imageUrl %> class="card-img-top" alt="Product image for <%= product.title %>">
                        <div class="card-body">
                        <h2 class="card-title"><%= product.title %></h2>
                        <h4 class="card-text">£<%= product.price %></h4>
                        <p class="card-text"><%= product.description %></p>
                        <div class="d-flex">
                            <a href="/products/<%= product.id %>" class="btn btn-primary flex-grow-1 me-1">Detail</a>
                            <form action="/cart" method="POST" class="flex-grow-1 ms-1">
                                <button class="btn btn-primary w-100" type="submit">Add to cart</button>
                                <input type="hidden" name="productID" value="<%= product.id %>"/>
                                <input type="hidden" name="productPrice" value="<%= product.price %>"/>
                            </form>
                        </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="max-width m-auto px-2"><h1>No Products Found!</h1></div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>