<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <% if (products.length > 0) { %>
        <div class="container max-width">
            <% for (let cart_item of products) { %>
                    <div class="my-5 d-flex">
                        <img src=<%= cart_item.image_url %> class="cart-image me-5" alt="Product image for <%= cart_item.title %>">
                        <div class="d-flex flex-column justify-content-between">
                            <div>
                                <h3 class="mb-3"><%= cart_item.title %> | £<%= cart_item.price %></h3>
                                <h4 class="mb-5">Quantity: <%= cart_item.qty %></h4>
                            </div>
                            <form action="/delete-cart/<%= cart_item.id %>" method="POST" class="w-100">
                                <button class="btn btn-primary w-100" type="submit">Remove</button>
                            </form>
                        </div>
                    </div>
            <% } %>
                    <!-- Should be the total price: -->
            <h2 class="mt-4">Total price: £<%= 15 %></h2>
        </div>
    <% } else { %>
        <div class="max-width m-auto px-2"><h1>Nothing in cart</h1></div>
    <% } %>

<%- include('../includes/end.ejs') %>