<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <% if (orders.length > 0) { %>
        <div class="container max-width">
            <% for (let order of orders) { %>
                    <div class="my-3">
                        <h1 class="order-id">Order #<%= order._id %></h1>
                            <% for (let product of order.products) { %>
                                <div class="my-3 d-flex">
                                    <img src=<%= product.image_url %> class="cart-image me-5" alt="Product image for <%= product.title %>">
                                    <div class="d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 class="mb-3"><%= product.title %> | £<%= product.price %></h3>
                                            <!-- MYSQL -->
                                            <!-- <h4 class="mb-5">Quantity: product.orderitem.quantity</h4> -->
                                            <h4 class="mb-5">Quantity: <%= product.quantity %></h4>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                    </div>
            <% } %>
                    <!-- Should be the total price: -->
            <div class="mt-5">
                <h2>Total price: £<%= total_price %></h1>
                <form action="/checkout" method="POST" class="checkout-btn mt-3">
                    <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
                    <button class="btn btn-success w-100" type="submit">Pay</button>
                </form>
            </div>
        </div>
    <% } else { %>
        <div class="max-width m-auto px-2"><h1>No orders</h1></div>
    <% } %>

<%- include('../includes/end.ejs') %>