<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="max-width m-auto px-2 mt-3">
        <div class="mt-5">
            <h1><%= product.title %> | £<%= product.price %></h1>
            <hr>
            <img src="/<%= product.image_url %>" class="product-detail-img" alt="Product image for <%= product.title %>">
            <h3 class="mt-3"><%= product.description %></h3>
            <% if(is_authenticated) { %>
                <form action="/cart" method="POST" class="flex-grow-1 ms-1 mt-3">
                    <button class="btn btn-primary w-25" type="submit">Add to cart</button>
                    <!-- MYSQL: -->
                    <!-- <input type="hidden" name="productID" value="product.id"/> -->
                    <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
                    <input type="hidden" name="productID" value="<%= product._id %>"/>
                    <input type="hidden" name="productPrice" value="<%= product.price %>"/>
                </form>
            <% } %>
        </div>
    </div>

<%- include('../includes/end.ejs') %>